<ion-content class="body">
  
<div class="slider">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card><ion-card-header><img src="assets/img/1.png" alt="">
        <ion-card-subtitle>1</ion-card-subtitle>
        <ion-card-title>Track Expiration</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Save food by tracking the expiration of products.
      </ion-card-content></ion-card>
    </ion-slide>
   
    <ion-slide>
      <ion-card><ion-card-header><img src="assets/img/2.png" alt="">
        <ion-card-subtitle>2</ion-card-subtitle>
        <ion-card-title>Inventory Management</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Organize the items by putting it to a specific category.
      </ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card><ion-card-header><img src="assets/img/3.png" alt="">
        <ion-card-subtitle>3</ion-card-subtitle>
        <ion-card-title>Create shopping list</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Make a shopping list so you'll remember what to buy.
      </ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card><ion-card-header><img src="assets/img/4.png" alt="">
        <ion-card-subtitle>4</ion-card-subtitle>
        <ion-card-title>Keep track on your items</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        App will notify you if the items will expire.
      </ion-card-content></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card><ion-card-header><img src="assets/img/5.png" alt="">
        <ion-card-subtitle>5</ion-card-subtitle>
        <ion-card-title>Manage Items</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Tap the button to add items in shopping list and inventory.
      </ion-card-content></ion-card>
    </ion-slide>
    
  </ion-slides>
  
</div>

<div class="continuebtn">
  <ion-button class="skipbtn"  (click)="skipbtnClick()" > Get started</ion-button>

</div>

</ion-content>