<ion-content>
  <div class="logo"><img src="assets/logo/logo.png" alt=""></div>
 <div class="header">
    <h2>FoodChecklist</h2>
    <h3>Login</h3>
 </div> 
    <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" ></ion-input>
          <ion-icon slot="end" name="eye" color="grey" align-self-end></ion-icon>
        </ion-item>
      
      </ion-list>
   
      <h3 class="forgot" >Forgot password?</h3>
   
  <div class="loginbtn">
    <ion-button>Login</ion-button>
    </div>
  <div class="footer">
    <h3 > Dont have an account?<a routerLink="/register">Register</a> </h3>
  </div>
</ion-content>
