ion-app{
    .header{
        --background:#F9CEDF;
        --min-height:205px!important;
        h1{
          background: white !important;
          color: black;      
        }     
        .profile{
            position: relative;
          
            top: 5px;
            
            
            ion-avatar {
                background-color: white;
                width:100% !important;  
                height : 100% !important;  
                max-width: 100px;
                max-height: 100px;   
                position: relative;
                left: 20px;
                
                
            }ion-label{
                position: relative;
                left: 32px;
                bottom:-20px;
                color: grey;
                font-family: "LatoRegular";
                letter-spacing: 1px;
            }
        }      
    }  
    ion-content{   
        --background:white; 
       
        ion-list{
            height: 100%;   
            ion-item{
                border: 0px;
                color: grey;
                letter-spacing: 3px;
                right: -50px;
                bottom: -150px;   
                ion-label{
                   color: grey;
                   font-family: "LatoRegular";
                   font-size: 16px;
            }
        }
            .logout{
                ion-item{
                    bottom: -400px;}}}
    }    
}