<ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  class="custom" menu="main-menu" ></ion-menu-button>
    </ion-buttons>
    <div class="categ1">
      <h1>Inventory</h1>
    </div>
   <div class="searchbtn">
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-list>
      <ion-item>
        <ion-label>Select Category</ion-label>
        <ion-select placeholder="Select fruit" okText="Choose Fruit" cancelText="Cancel Choice">
          <ion-select-option value="All">All</ion-select-option>
          <ion-select-option value="Drinks">Drinks</ion-select-option>
          <ion-select-option value="Fridge">Fridge</ion-select-option>
          <ion-select-option value="Fruit">Fruit</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="total">
    <ion-label>Total</ion-label>
  </div>
  </ion-toolbar>

<ion-content>



















  
  <ion-toolbar class="footer">
    <div class botnav>
      <ion-buttons end>
        <button ion-button >
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>
      <ion-labels>Inventory</ion-labels>
      <ion-buttons end>
        <button ion-button >
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-buttons>
      <ion-labels>Shopping List</ion-labels>
      <ion-buttons end>
        <button ion-button >
          <ion-icon name="alert"></ion-icon>
        </button>
      </ion-buttons>
      <ion-labels>Expiry</ion-labels>
    </div>

  </ion-toolbar>


 
</ion-content>
