ion-toolbar{
    --background:#F9CEDF;
    width: 544px;
    height: 236px;
    
    ion-buttons{
        color: white; 
      
    }     
    }
  
ion-content{
    --background: white;
    





























    .footer{
        width: 442px;
        height: 116px;
        bottom: -560px;
         --background:#FCEECB;
    }
}
