<ion-content>
  <div class="logo"><img src="assets/logo/logov2.png" alt=""></div>
  <div class="header">
    <h1>Register</h1>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
          <ion-input placeholder="Fullname" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="*Example@gmail.com" type="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
          <ion-input placeholder="*Philippines" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Password" type="password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input placeholder="Confirm password"type="password" ></ion-input>
    </ion-item>
  </ion-list>
  <div class="loginbtn">
    <ion-button (click)="register()">Register </ion-button>
  </div>
  <div class="footer">
    <h3 > Already have an account?<a routerLink="/login">Login</a> </h3>
  </div>

</ion-content>
