<ion-content>
  <div class="logo"><img src="assets/logo/logov2.png" alt=""></div>
  <div class="header">
    <h1>Register</h1>
  </div>

    <form class="form"  [formGroup]="credentials">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
      </ion-item>
   
     
      
    </form>
    <ion-button class="loginbtn" type="button" expand="block"  (click)="register()">Create account</ion-button>
  
  
  <div class="footer">
    <h3 > Already have an account?<a routerLink="/login">Login</a> </h3>
  </div>

</ion-content>
