<ion-content class="body">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button  class="custom" id="content" ></ion-menu-button>
    </ion-buttons>
      <h1 class="categ1">Shopping List</h1>
      
   
      
  </ion-toolbar>
 
  <ion-toolbar class="footer">
    <ion-grid>
      <ion-row>


      <ion-col col-10>
        <ion-buttons end (click)="onClick()" fill="clear" routerLink="/stock">
          <ion-icon name="cart"></ion-icon> 
      </ion-buttons>
      <ion-labels routerLink="/stock">Inventory</ion-labels>
    </ion-col>
    <ion-col col-10>
      <ion-buttons end (click)="onClick()" fill="clear"  routerLink="/shoppinglist">
          <ion-icon name="list"></ion-icon>
      </ion-buttons >
      
      <ion-labels routerLink="/shoppinglist">Shopping List </ion-labels>
    </ion-col>
    <ion-col col-10>
      <ion-buttons end (click)="onClick()" fill="clear" routerLink="/expiry">
          <ion-icon name="alert" ></ion-icon>
      </ion-buttons>
      <ion-labels routerLink="/expiry">Expiry</ion-labels>
    </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="circlebtn">
    <ion-button shape="circle" (click)="buttonClicked()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

  </div>

  </ion-content>

 

